footer {
  display: flex;
  justify-content: center;
  background: var(--green-light);
  text-align: center;
  font-size: 1vw;
  height: 21vh;
  color: var(--text-color);
  position: relative;
  /* top: 650px; */
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--normal-gray);
  border-radius: var(--b-radius);
  width: 30vw;
  height: 15vh;
  margin: 3vh 3vw;
}

p.highlight {
  background: var(--background);
}

.highlight {
  display: flex;
  flex-direction: row;
  align-self: center;
  border-radius: var(--b-radius);
  padding: 1vh;
  width: 4vw;
  align-content: center;
  justify-content: center;
}

.space {
  margin: 0 1vmin;
  border-radius: 50%;
}

.wide {
  width: 25vw;
}

.linky-px {
  width: 3vw;
  background: var(--background);
  padding: 1vmin;
  border-radius: 30%;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    background: var(--background-dark);
    height: 50vh;
    align-items: center;
    font-size: 5vw;
  }

  .element {
    width: 80vw;
    background: var(--green-light);
    height: 14vh;
  }

  .highlight {
    width: 15vw;
  }

  .wide {
    width: 60vw;
  }
}
