footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--green-light);
    text-align: center;
    font-size: 1vw;
    height: 16vh;
    color: var(--text-color);
}

.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--normal-gray);
    border-radius: var(--b-radius);
    width: 20vw;
    height: 10vh;
    margin: 3vh 3vw;
}

p.highlight {
    background: var(--background);
}

.highlight {
    display: flex;
    flex-direction: row;
    align-self: center;
    border-radius: var(--b-radius);
    padding: 1vh;
    width: 15vw;
    align-content: center;
    justify-content: center;
}

.space {
    margin: 0 1vmin;
    background: var(--background);
    padding: 1vmin;
    border-radius: 50%;
}