/* Footer CSS */

footer {
    margin-top: 10vw;
}

div#footerbg {
    background-color: var(--green-light);
    height: 170px;
}
div#contact {
    color: var(--text-color);
    width: 20vw;
    text-align: center;
    background-color: var(--normal-gray);
    border-radius: 5px;
    margin: 10px;
    height: fit-content;
    font-family: Glacial;
}

#center-items-footer {
    display: block;
    flex-direction: row;
    align-items: center;
    background-color: var(--background);
    width: auto;
    margin: 5% 10%;
    border-radius: 6px;
}

#circle {
    z-index: 1;
    margin: 2% 5%;
}

#copyright {
    display: block;
    background-color: var(--background);
    width: auto;
    margin: 5% 10%;
    border-radius: 6px;
    height: 20px;
}

#center-div {
    display: flex;
    top: 0px;
    position: relative;
    justify-content: center;
}