/* Header CSS */
#logo {
    aspect-ratio: calc(32/15);
    max-width: 10vw;
}

.link-dec {
    /* text-decoration: none; */
    color: var(--text-color);
}

.header-title {
    font-family: Glacial;
    font-size: 130px;
    color: var(--text-color);
    left: 20.5%;
    position: relative;
}

.header-center {
    display: flex;
    flex-direction: row;
}