/* Header CSS */
.header-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pos-l {
    position: absolute;
    left: 0;
}

.pos-r {
    position: absolute;
    right: 0;
}

#logo {
    aspect-ratio: calc(32/15);
    max-width: 10vw;
    border-radius: 6px;
}

.header-title {
    font-family: Glacial;
    font-size: 90px;
    color: var(--text-color);
    text-align: center;
    margin-top: 5px;
}

.lb-link {
    width: 10vw;
    padding: 6px;
    border-radius: 6px;
    background-color: var(--green-light);
    height: max-content;
}

.link-dec {
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
}