/* Main CSS */

.center {
    margin: 100px 15vw;
    background-color: var(--placeholder-black);
    border-radius: 6px;
    aspect-ratio: calc(16/9);
    max-width: 70vw;
}
.placeholder {
    color: var(--text-color);
    font-family: Glacial;
    font-size: 5vw;
    text-align: center;
}
