/* Leaderboards Page CSS */

#difficulty-selector {
    margin: 4% 0;
    display: flex;
    justify-content: center;
}

select {
    background-color: var(--light-gray);
    border: none;
    text-align: center;
    font-family: Glacial;
    border-radius: 5px;
    width: 30vw;
    font-size: 2vw;
    padding: 10px;
}

option:hover {
    background: var(--green-light);
}

.lb-title {
    font-family: Glacial;
    color: var(--text-color);
    text-align: center;
    font-size: 3.5vw;
    height: 10%;
}

.personal-center {
    font-family: Glacial;
    color: var(--text-color);
    text-align: center;
    height: 50%;
    font-size: 1vw;
}

.center-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3vw 30vw 3vw 30vw;
}

.scoreboard {
    width: 100%;
    height: 80%;
    background-color: rgba(168, 31, 31, 0.2);
    overflow: auto;
}

.shadow-l {
    box-shadow: 1.5vw 2vh var(--background-dark);
}

.shadow-m {
    box-shadow: 0vw 2vh var(--background-dark);
}

.shadow-r {
    box-shadow: -1.5vw 2vh var(--background-dark);
}

.column {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4%;
}

.leaderboard {
    height: 45vw;
    width: 23vw;
    border-radius: var(--b-radius);
    background-color: var(--light-gray);
    margin: 0 5%
}

.placeholder-lb {
    height: 90%;
    width: 100%;
    border-radius: var(--b-radius);
    background-color: var(--placeholder-black);
    top: 0;
    position: relative;
}

.personal {
    height: 20%;
    width: 23vw;
    border-radius: var(--b-radius);
    position: relative;
    background-color: var(--normal-gray);
}

/* Alternate colors */

p.scores:nth-of-type(n+4) {
    color: var(--text-color);
}

p.top:nth-of-type(1) {
    background-image: linear-gradient(to right, gold , rgb(207, 179, 17));
    border: rgb(207, 179, 17) 4px solid;
    font-size: 1.3vw;
}

p.top:nth-of-type(2) {
    background-image: linear-gradient(to right, silver , rgb(153, 153, 153));
    border: rgb(153, 153, 153) 4px solid;
    font-size: 1.25vw;
}

p.top:nth-of-type(3) {
    background-image: linear-gradient(to right, darkorange , rgb(199, 116, 15));
    border: rgb(199, 116, 15) 4px solid;
    font-size: 1.2vw;
}

p.scores:nth-of-type(even) {
    background: var(--light-gray);
}

p.scores:nth-of-type(odd) {
    background: var(--normal-gray);
}

p.top {
    color: var(--text-color);
}

.scores, .top {
    height: 5%;
    border-radius: var(--b-radius);
    font-family: Glacial;
    padding-left: 5px;
    display: flex;
    align-content: center;
    font-size: 1.1vw;
}

.buttons-lb {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.daily {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 33%;
}

.monthly {
    width: 34%;
}

.alltime {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 33%;
}

.button {
    background-color: var(--green-light);
    text-align: center;
    font-family: Glacial;
    color: var(--text-color);
    font-size: 1.7vw;
}

a:hover {
    background-color: var(--green-dark);
    animation: lb-button 500ms ease 0s 1 normal forwards;
}

@keyframes lb-button {
    0% {
        background-color: var(--green-light);
    }
    100% {
        background-color: var(--green-dark);
    }
}